<!
<html>
<head>
<!--   main content of the page-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gayathri</title>
</head>
<body>
<!-- Root of all content that visible tot he user-->
    <h1> NEW PAGE</h1>
<div> WOW!
    <p> Just checking block level element <p> This is inside p- elements </p></p>
    <p> Second line block-levle here <span>Its inline element <span>2.Its inline element</span></span></p>
</div>

</body>
</html>